<h1 mat-dialog-title>Update Todo</h1>
<mat-dialog-content>
  <mat-card>
    <form [formGroup]="todoform">
      <mat-card-content>
        <div class="form-container">
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input type="text" matInput formControlName="title" placeholder="Title"/>
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>Content</mat-label>
            <input type="text" matInput formControlName="content" placeholder="Content" />
          </mat-form-field>
        </div>
      </mat-card-content>
  
      <div class="button-container">
        <mat-card-actions>
          <button mat-flat-button type="submit" (click)="submit()" mat-dialog-close>
            Update
          </button>
          <button mat-button mat-dialog-close>Close</button>
        </mat-card-actions>
      </div>
    </form>
  </mat-card>
</mat-dialog-content>

